@use 'style/variables.module.sass' as style

.contact
  display: flex
  flex-direction: row
  padding: 10px 
  margin: 10px 10px
  border-radius: 5px
  border: solid 1px style.$primary-light-color
  box-shadow: 5px 5px 0 style.$primary-light-color

  align-content: center
  width: 250px

  .icon
    box-shadow: 3px 3px 0 style.$primary-light-color

    svg
      height: ingerit
      width: ingerit

  .value
    width: 80%
    color: style.$primary-dark-color
    text-align: center
    font-size: 12pt
    margin: 0 auto

