@use 'style/variables.module.sass' as style

.contact
  display: flex
  flex-direction: row
  padding: 10px 
  margin: 10px auto 
  border-radius: 20px
  border: solid 1px white
  box-shadow: 0 0 10px white 

  align-content: center
  width: 250px

  .icon
    border-radius: 50%

  .value
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    color: style.$primary-dark-color
    font-size: 12pt
    margin: 0 auto

