// BODY -----------------------------------
$body-max-width: 1400px

// LAYOUT -----------------------------------
$layout-max-height: 900px

// COMMON ----------------------------------- 
  // common colors
$primary-color: #D6D5A8
$primary-light-color: #FCF8E8
$primary-dark-color: #1B2430

// HEADER -----------------------------------
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap')
$header-background-color: blue
$header-menu-font-size: 30px
$header-menu-font-family: 'Anton', sans-serif

// TITLE -----------------------------------
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap')
$title-font-size: 120px
$text-font-size: 25px
$title-font-family: 'Cormorant Garamond', serif
$title-font-color: white
