@use 'src/style/variables.module.sass' as style

.title_wrapper
  margin: 150px 0 0 0 
  display: flex
  align-items: center
  flex-direction: column
  .title
    text-transform: uppercase
    letter-spacing: 25px
    color: style.$title-font-color
    font-size: style.$title-font-size
    font-family: style.$title-font-family
    margin: 0 20px 80px 20px
    transition-duration: 1.5s
    cursor: default
  .text
    padding: 0 50px 0 50px
    outline-color: black
    text-decoration-color: black
    text-decoration-line: 1px
    text-align: center
    letter-spacing: 5px
    line-height: 60px
    text-align:center
    color: rgba(256,256,256, .6)
    font-size: style.$text-font-size
    font-family: style.$title-font-family


  @-webkit-keyframes pulsate 
    50%
      color: #fff 
      text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff 

  @keyframes pulsate 
    50%
      color: #fff 
      text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff 

  .title 
    color: rgb(245,245,245)
    text-shadow: 0 -1px rgba(0,0,0,.1)
    -webkit-animation: pulsate 1.2s linear infinite
    animation: pulsate 1.2s linear infinite

@media (max-width: 1420px)
  .title_wrapper 
    .title  
      font-size: style.$title-font-size / 1.3

@media (max-width: 1200px)
  .title_wrapper 
    .title  
      font-size: style.$title-font-size / 2
      letter-spacing: 18px
    .text
      line-height: 30px


@media (max-width: 800px)
  .title_wrapper 
    .title  
      font-size: style.$title-font-size / 3
      letter-spacing: 10px
    .text
      text-align: justify
      padding: 0 25px 0 25px
      letter-spacing: 2px
      line-height: 30px
      font-size: style.$text-font-size / 1,3

@media (max-width: 680px)
  .title_wrapper 
    .title  
      font-size: style.$title-font-size / 4.5
      letter-spacing: 5px
    .text
      letter-spacing: 2px
      line-height: 20px
      font-size: style.$text-font-size / 1.6
