@use 'src/style/variables.module.sass' as style

.title_wrapper
  margin: 150px 0 0 0
  display: flex
  align-items: center
  flex-direction: column

  .title
    text-transform: uppercase
    letter-spacing: 25px
    color: style.$title-font-color
    font-size: style.$title-font-size
    font-family: style.$title-font-family
    margin: 0 20px 80px 20px
    transition-duration: 1.5s
    cursor: default

  .text
    outline-color: black
    text-decoration-color: black
    text-decoration-line: 1px
    text-align: center
    letter-spacing: 5px
    line-height: 60px
    text-align: center
    color: rgba(256,256,256, .6)
    font-size: style.$text-font-size
    font-family: style.$title-font-family

  @-webkit-keyframes pulsate
    50%
    color: #fff
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff

  @keyframes pulsate
    50%
      color: #fff
      text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff

  .title
    color: rgb(245,245,245)
    text-shadow: 0 -1px rgba(0,0,0,.1)
    -webkit-animation: pulsate 1.2s linear infinite
    animation: pulsate 1.2s linear infinite
